# Unity 生成目录
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
Recordings/

# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# 系统
.DS_Store
Thumbs.db

# 测试结果
TestResults/
